@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #020617;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #60a5fa;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.translate-btn{
    font-size: 1.6rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #60a5fa;
    color: #60a5fa;
    cursor: pointer;
    transition: 0.3s ease;
}

.translate-btn:hover{
    background: #60a5fa;
    color: #020617;
    transform: scale(1.15);
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #60a5fa;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
    max-width: 500px;
    line-height: 1.6;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #60a5fa;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #60a5fa;
}

.social-icons a:hover{
    color: #020617;
    transform: scale(1.3) translateY(-5px);
    background-color: #60a5fa;
    box-shadow: 0 0 25px #60a5fa;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #60a5fa;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #60a5fa;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #60a5fa;
    z-index: -1;
    clip-path: ellipse(70% 35% at 50% 100%);
    transition: height 0.9s ease;
}

.btn:hover::before{
    height: 200%;
    clip-path: ellipse(70% 80% at 50% 100%);
}

.btn:hover{
    color: #020617;
    transform: scale(1.03);
    box-shadow: 0 0 25px #60a5fa;
    transition: transform 1s ease, color 1s ease;
}

.typing-text{
    display: inline-block;
    width: 300px;
    white-space: nowrap;
}

#cursor{
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #60a5fa;
    margin-left: 3px;
    animation: blink 0.7s infinite;
    vertical-align: middle;
}



@keyframes blink{
    0%,50%{opacity:1;}
    51%,100%{opacity:0;}
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
