<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" sizes="1024x1024" href="/static/icone.png">
    <title>Enrico Dev</title>
</head>
<body>

<header>
    <a href="/" class="logo">Enrico</a>

    <nav>
        <button id="translateBtn" class="translate-btn">EN</button>
    </nav>
</header>

<section class="home">
    <div class="home-content">
        <h1 class="t1">Prazer, sou <span>Enrico</span></h1>

        <h3 class="typing-text t2">Trabalho com <span id="typing"></span><span id="cursor"></span></h3>

        <p class="t3">Desenvolvo automações inteligentes, sites modernos e softwares sob medida para necessidades empresariais.</p>

        <div class="social-icons">
            <a href="https://www.linkedin.com/in/enrico-almeida-a47400314"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/EnricoBrito"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:enricodealmeidabrito@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.youtube.com/@DevJunior"><i class="fa-brands fa-youtube"></i></a>
        </div>

        <a href="https://wa.me/5511942544758" class="btn t4">Entre em contato</a>
    </div>
</section>

<script src="/static/script.js"></script>
</body>
</html>
